:root {
    --wt-d: #fff;
    --wt-l: #588;
    --dk-l: #356;
    --dk-d: #134;
}
html {
    overflow-x: hidden;
}
.toggle {
    text-align: center;
    margin: 0 0 0 0;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: #333;
    border: 2px solid #eee;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 80px;
    height: 40px;
}

.toggle label::after {
    background-color: #eee;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 30px;
    height: 30px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #333;
    border-color: #eee;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #eee;
    transform: translateX(39px);
}
.bg-image {
    background-image: url("../images/vin.webp");
    transform-origin: top center;
    transform: scale(0.65);
    /*zoom: 0.8;*/
    padding: 0;
    margin: 0 0 calc((0.65 - 1) * 196px) 0;

}
.big-head {
    margin: 0 0 0 0;
    padding: 0;
}

.right-group {
    text-align: center;
    padding: 0;
    margin: 0;
}
.bg-img-fm {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;
/*196 550*/
}
.bg-img-ph {
    visibility: hidden;
    margin: 0;
    padding: 0;
}
body {
    /*background-image: linear-gradient(to right, var(--wt-l), var(--wt-d));*/
    color: #000;
    overflow-x: hidden;
}
.bg-m {
    padding: 3% 15% 0 20%;
    background-image: linear-gradient(to bottom, var(--wt-l), var(--wt-l), var(--wt-d), var(--wt-d), var(--wt-d), var(--wt-d), var(--wt-d), var(--wt-d), var(--wt-d));
}
body.dark-theme .bg-m {
    background-image: linear-gradient(to top, var(--dk-l), var(--dk-l), var(--dk-d));
}

body.dark-theme {
    /*background-image: linear-gradient(to right, var(--dk-l), var(--dk-d));*/
}

h1 {
    font-family: 'Merriweather', serif;
    margin: 0 0 0 0;
    padding: 0;

}
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
    text-align: center;
    padding: 0;
    font-size: 1.3rem;
}
    .l-mode {
    visibility: visible;
    display: revert;
}
    .d-mode {
    visibility: hidden;
    display: none;
}
h6 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 20% 0 20% 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
body.dark-theme .l-mode {
    visibility: hidden;
    display: none;
}
body.dark-theme .d-mode {
    visibility: visible;
    display: revert;
}
body.dark-theme h1 {
    color: #fff;
    padding: 0;
    margin: 0;
}
body.dark-theme h4 {
    color: #fff;
    padding: 0;
}
body.dark-theme h6 {
    color: #fff;
    padding: 0;
}
.sec-two {
    background-image: linear-gradient(to bottom, var(--wt-d), var(--wt-d), var(--wt-l));
    height: 150px;
}
body.dark-theme .sec-two {
    background-image: linear-gradient(to bottom, var(--dk-l), var(--dk-l), var(--dk-d));
}
@media (max-width: 600px) {
    .bg-m {
        padding: 3% 3% 0 9%;
    }
    .bg-image {
    background-image: url("../images/vin.webp");
    transform-origin: top center;
    transform: scale(0.4);
    /*zoom: 0.8;*/
    padding: 0;
    margin: 0 calc((0.4 - 1) * 100px) calc((0.4 - 1) * 196px) 0;
    }
    .right-group {
        text-align: right;
        padding: 0;
        margin: 0;
    }
    .toggle {
        text-align: right;
        margin: 0 0 0 0;
    }
    h4 {
        font-family: 'Merriweather', serif;
        margin: 0 12% 0 0;
        text-align: right;
        padding: 0;
        font-size: 1.1rem;
    }
    body.dark-theme h4 {
        margin: 0 10.5% 0 0;
    }
    h6 {
        font-size: 1rem;
        line-height: 2rem;
        margin: 20% 0 20% 0;
    }
}

/*btn*/
a.btn-dark {
    margin: 7% 0;
}
a.btn-dark:hover{
    background: #fff;
    color: #000;
    border-color: #000;
}
/*@media (max-width: 345px) {*/
/*    .bg-m {*/
/*        padding: 3% 3% 0 9%;*/
/*    }*/
/*    .bg-image {*/
/*        background-image: url("../images/vin.webp");*/
/*        transform-origin: top center;*/
/*        transform: scale(0.4);*/
/*        !*zoom: 0.8;*!*/
/*        padding: 0;*/
/*        margin: 0 calc((0.4 - 1) * 100px) calc((0.4 - 1) * 196px) 0;*/
/*    }*/
/*    .right-group {*/
/*        text-align: right;*/
/*        padding: 0;*/
/*        margin: 0;*/
/*    }*/
/*    .toggle {*/
/*        text-align: right;*/
/*        margin: 0 0 0 0;*/
/*    }*/
/*    h4 {*/
/*        font-family: 'Merriweather', serif;*/
/*        margin: 0 9% 0 0;*/
/*        text-align: right;*/
/*        padding: 0;*/
/*        font-size: 1.2rem;*/
/*    }*/
/*}*/

/*.top-gra {*/
/*    background-image: linear-gradient(to left, var(--wt-l), var(--wt-d))*/
/*}*/
/*body.dark-theme .top-gra {*/
/*    background-image: linear-gradient(to right, var(--dk-l), var(--dk-d));*/
/*}*/
